/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
  background: rgb(255, 255, 255);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 54px;
  height: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.square_highlight {
  background: rgb(243, 222, 222);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 54px;
  height: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.square_highlight:focus {
  outline: none;
}

.kbd-navigation .square_highlight:focus {
  background: #ddd;
}
